^contentpage {
    background-color: #dfe6e9;
}
frame {
    border-color: #ddd;
    border-radius: 4;
}
grid {
    height: 50;
}
image{
    height: 60;
    width: 60;
}
label {
    font-size: 15;
}
button {
    background-color: #dfe6e9;
    color: #0984e3;
    border-radius: 4;
}
searchbar {
    color: #0984e3;
    margin-right: 20;
    margin-top: 15;
}
.m-20 {
    margin: 20;
}
.mr-20 {
    margin-right: 20;
}
.italic {
    font-style: italic;
}
.circle-btn {
    font-size: 30;
    height: 60;
    width: 60;
}
.skeleton {
    border-radius: 4;
    background-color: #dfe6e9;
    height: 60;
    width: 30;
}
